html, body, canvas {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form {
    padding: 32px;
}

label {
    margin-top: 32px;
    display: block;
}

textarea {
    width: 100%;
    min-height: 256px;
}