<!DOCTYPE html>
<html lang="en">
<head>
    <title>Voxel command window</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<body>

<form action="" method="post" enctype="multipart/form-data">
    <label>IFC files:</label>
    <input type="file" name="ifc" multiple />
    
    <label>Procedure</label>
    <textarea name="voxelfile"></textarea>
    
    <input type="submit" />
</form>

</body>
</html>
